{
  "root": true,
  "extends": ["eslint:recommended", "google", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {}
}
